<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-feature android:name="android.hardware.faketouch"
        android:required="false"/>
    <uses-feature android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor"
        android:required="false"/>
    <!-- Some TV devices have an ethernet connection only -->
    <uses-feature android:name="android.hardware.wifi"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OXOOTVDemo"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.files.codes.view.fragments.testFolder.HomeNewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity
            android:name="com.files.codes.view.SignUpActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity
            android:name="com.files.codes.view.ItemCountryActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity
            android:name="com.files.codes.view.VideoPlaybackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity
            android:name="com.files.codes.view.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity android:name="com.files.codes.view.fragments.testFolder.ProfileActivity"
            android:exported="false"/>
        <activity
            android:name="com.files.codes.view.VideoDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity
            android:name="com.files.codes.view.ItemGenreActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false" />
        <activity
            android:name="com.files.codes.view.LoginChooserActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.files.codes.view.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.files.codes.view.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.files.codes.view.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.files.codes.view.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.files.codes.DetailsActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.files.codes.PlaybackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.files.codes.BrowseErrorActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>